

<div class="container">
<!-- 1st row  -->

<div class="row mt-4">
  <!-- 1st column -->
  <div class="col-1"></div>
  <div class="col-5 pt-2">
    <a (click)="bold(1)">Bold</a>,
    <a (click)="italic(1)">Italic</a>,
    <a (click)="underline(1)">Underline</a>,
    <input type="number"  [(ngModel)]="r1f" placeholder="Font size">
    <input type="color"  [(ngModel)]="r1c" placeholder="Color">
  </div>
<div class="col-1"></div>
   <!-- 2nd column -->
   <div class="col-5 pt-2">
  <p [ngClass]="{bold: r1b , italic: r1i , underline : r1u}" [ngStyle]="{'font-size': r1f+'px', 'color': r1c}">He's not the sharpest knife in the drawer.</p>
  </div>
</div>

<!-- 2nd row -->
<div class="row mt-4">
  <!-- 1st column -->
  <div class="col-1"></div>
  <div class="col-5 pt-2">
    <a (click)="bold(2)">Bold</a>,
    <a (click)="italic(2)">Italic</a>,
    <a (click)="underline(2)">Underline</a>,
    <input type="number"  [(ngModel)]="r2f" placeholder="Font size">,
    <input type="color"  [(ngModel)]="r2c" placeholder="Color">
  </div>
<div class="col-1"></div>
   <!-- 2nd column -->
   <div class="col-5 pt-2">
  <p [ngClass]="{bold: r2b , italic: r2i , underline : r2u}" [ngStyle]="{'font-size': r2f+'px', 'color': r2c}">The big building was blazing with light.</p>
  </div>
</div>

<!-- 3rd row -->
<div class="row mt-4">
  <!-- 1st column -->
  <div class="col-1"></div>
  <div class="col-5 pt-2">
    <a (click)="bold(3)">Bold</a>,
    <a (click)="italic(3)">Italic</a>,
    <a (click)="underline(3)">Underline</a>,
    <input type="number"  [(ngModel)]="r3f" placeholder="Font size">,
    <input type="color" [(ngModel)]="r3c" placeholder="Color">
  </div>
<div class="col-1"></div>
   <!-- 2nd column -->
   <div class="col-5 pt-2">
  <p [ngClass]="{bold: r3b , italic: r3i , underline : r3u}" [ngStyle]="{'font-size': r3f+'px', 'color': r3c}">Now you must answer some big questions.</p>
  </div>
</div>

<!-- 4th row -->
<div class="row mt-4">
  <!-- 1st column -->
  <div class="col-1"></div>
  <div class="col-5 pt-2">
    <a (click)="bold(4)">Bold</a>,
    <a (click)="italic(4)">Italic</a>,
    <a (click)="underline(4)">Underline</a>,
    <input type="number"  [(ngModel)]="r4f" placeholder="Font size">
    <input type="color"  [(ngModel)]="r4c" placeholder="Color">

  </div>
<div class="col-1"></div>
   <!-- 2nd column -->
   <div class="col-5 pt-2">
  <p [ngClass]="{bold: r4b , italic: r4i , underline : r4u }" [ngStyle]="{'font-size': r4f+'px', 'color': r4c}">Get your act together</p>
  </div>
</div>

</div>